@import '../../styles/variables';
@import '../../styles/mixins';

.board {
  display: flex;
  padding: $spacing-xl;
  gap: $spacing-xl;
  overflow-x: auto;
  min-height: calc(100vh - 85px);
  overscroll-behavior: none;
  &__header {
    text-shadow: 0 0 10px #fff;
    padding-right: 150px;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__add-list {
    min-height: 102px;
    transition: $transition-default;
    align-items: center;
    justify-content: center;
    border: 2px dashed $color-border-light;
    background-color: $color-background-light;
    box-shadow: none;

    &:hover {
      background-color: $color-background-light-hover;
      border-color: $color-border-light-hover;
    }

    &:not(:hover) {
      color: $color-text-secondary;
    }
  }
}
.board__header {
  h1 {
    display: inline-block;
  }
  .input-board-name {
    position: relative;

    input {
      max-width: 300px;
      max-height: 38px;
      font-size: 18px;
      &.error {
        border-color: $color-error;
      }
    }
  }

  .input-board-error {
    position: absolute;
    top: 100%;
    left: 0;
    color: $color-error;
    font-size: 12px;
    margin-top: 2px;
  }
}
