@import '../../styles/variables';

.buttonAdditionalStyles {
  position: fixed;
  top: $spacing-xl;
  right: $spacing-xl * 5;
}

.inputGroup {
  position: relative;
  margin-bottom: $spacing-md;
}

.colorPicker {
  margin-top: $spacing-md;
  font-size: 14px;
}

.colorPickerLabel {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.colorPickerInput {
  width: 50px;
  display: block;
  padding: 0;
  margin-left: $spacing-sm;
  cursor: pointer;
}
