@import '../../../../styles/variables';

.card {
  background: #fff;
  border-radius: $border-radius-sm;
  padding: $spacing-sm;
  box-shadow: $shadow-card;
  transition: $transition-default;
  cursor: grab;

  &:hover {
    background-color: $color-card-hover;
  }

  &:active {
    cursor: grabbing;
  }

  &__title {
    font-size: 14px;
    color: $color-text;
    word-break: break-word;
  }
}
