@import './styles/variables';
@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
  color: grey !important;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  color: $color-text;
  min-height: 100vh;
  @include desktop {
    overscroll-behavior: none;
  }
  @include large-desktop {
    overscroll-behavior: none;
  }
}

textarea {
  resize: none;
  overflow: hidden;
}

input,
textarea {
  width: 100%;
  padding: $modal-input-padding;
  border: 1px solid $color-border-light;
  border-radius: $modal-input-border-radius;
  font-size: 14px;
  transition: border-color 0.2s;

  &:focus {
    outline: none;
    border-color: $color-primary;
  }

  &.error {
    border-color: $color-error;

    &:focus {
      border-color: $color-error;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
